header,.heading {
    background-color: #3D74B6;
    background-attachment: fixed;
    width: 98%;
    padding: 1%;
    box-shadow: 1px 1px 1px #000;
}

body, main {
 background-attachment: scroll;
}

.heading1 {
    text-align: center;
    padding-right: 4%;
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    text-shadow: 30px snow;
    font-size: larger;
}

.heading1:hover {
        text-align: center;
    padding-right: 4%;
    display: inline-block;
    text-decoration: none;
    color: rgb(74, 197, 7);
    text-shadow: 30px snow;
    font-size: larger;
}

* {
    padding: 0%;
    margin: 0%;
}

.snow {
    display: inline-block;
    color: red;

}

input {
    display: inline-block;

}

h1 {
    text-align: center;

}

div {
    width: 400px;
    height: 400px;

    background-color: aliceblue;
    box-shadow: 1px 2px 3px black;
}

button {
    background-color: aliceblue;
    border-radius: 2px;
    color: #000;
    border: 2px solid black;
    width: 200px;
}

img {
    padding-left: 5%; 
    border-radius:10% ;  
}

marquee {
    font-size: xx-large;
    text-align: center;
    display: inline-block;
    color: #000;
    text-decoration: none;
    width: 62%;
}

marquee:hover {
        font-size: xx-large;
    text-align: center;
    display: inline-block;
    color: #81ea00;
    text-decoration: none;
    width: 62%;
}